@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-size: 16px;
}

header {
  height: 150px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 150px;
  color: #333;
  background: #eee;
}

.profile .container, .container.matches {
  padding: 20px 0;
}

.card {
  margin-bottom: 20px;
}

.dropdown-menu-right {
  left: auto !important;
}

.cursor-pointer {
  cursor: pointer;
}
